*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
body main span p{
    font-weight: 400;
}
.active{
    color: tomato;
}
.tutup{
    display: none;
    position: fixed;
    background-color: rgb(42, 45, 46);
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: skyblue;
    text-align: center;
    font-family: monospace;
}

@media (max-width:576px) { 
    .tutup{
        display: flex;
    }
}
